<div class="row">
  <div class="col-md-3 col-centered">
    <div class="well">
      <h3>Sign in</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
        </div>
        <br />
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
        <div class="actions">
          <%= f.submit "Sign in", :class => "btn btn-success btn-block button-margin" %>
        </div>
      <% end %>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), :class =>"btn btn-info btn-block button-margin" %>
      <% end -%>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), :class=>"btn btn-block btn-social btn-github" do %>
              <span class="fa fa-github"></span>
              Sign in with Github
            <%end%>
            <br />
          <% end -%>
        <% end -%>
    </div>
  </div>
</div>