<p> <%= @user.avatar %></p>
<h1><%= @user.username %></h1>
<p>Joined: <%= time_tag(@user.created_at) %></p>
<p>Last active: <%= time_tag(@user.last_active_at) %> </p>
<p>Points: <%= @user.points %></p>
<%= render 'users/badges_list' %>
<%= render 'users/friends_list' %>