<p> <%= @user.avatar %></p>
<h1><%= @user.username %></h1>
<p>Joined: <%= time_tag(@user.created_at) %></p>
<p>Last active: <%= time_tag(@user.last_active_at) %> </p>
<p>Points: <%= @user.points %></p>
<p>Badges:</p>
<% @user.badges.each.with_index(1) do |badge, i| %>
	<% if i%4 == 1 %>
		<div class="row">
	<% end %>
	<div class="col-sm-3">
		<%= image_tag("badges/#{badge.image}.jpeg", size: "50x50") %>
		<p><%= badge.name %></p>
	</div>
	<% if i%4 == 0 || badge.id == @user.badges.last.id %>
		</div>
	<% end %>
<% end %>

<p>Friends (<%= "#{@user.friends.count}" %>)</p>
<% if !@user.accepted_friendships.empty? %>
  <% @user.accepted_friendships.each.with_index(1) do |f, i| %>
    <% if i%4 == 1 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <p><%= link_to f.friend.username, user_path(f.friend) %>
      <%= link_to friend_destroy_path(friend: f.friend) do %>
      	<i class="fa fa-user-times" aria-hidden="true"></i>
      	<%end%>
      </p>
    </div>
    <% if i%4 == 0 || f.friend.id == @user.accepted_friendships.last.friend.id %>
      </div>
    <% end %>
  <%end%>
<%else%>
<p>No friends to show</p>
<% end %>