<p> <%= @user.avatar %></p>
<h1><%= @user.username %></h1>
<p>Joined: <%= @user.created_at %></p>
<p>Last active: <%= @user.last_active_at %> </p>
<p>Points: <%= @user.points %></p>
<p>Badges:</p>
<%= @user.badges %>

