<p> <%= @user.avatar %></p>
<h1><%= @user.username %></h1>
<% if current_user != @user %>
	<% if current_user.friends.include?(@user) %>
		<%= link_to 'Unfriend', friends_destroy_path %>
	<% else %>
		<% if @user.pending_friends.include?(current_user) %>
				<%= link_to "Accept", friend_request_path, method: :patch %>
				<%= link_to "Deny", friend_request_path, method: :delete %>
		<% else %>
			<% if current_user.pending_friends.include?(@user) %>
				<p><%= link_to 'Cancel friend request', friend_request_path, method: :delete %></p>
			<% else %>
				<p><%= link_to 'Send friend request', friend_requests_path(friend_id: @user), method: :post %></p>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<p>Joined: <%= @user.created_at %></p>
<p>Last active: <%= @user.last_active_at %> </p>
<p>Points: <%= @user.points %></p>
<p>Badges:</p>
<% @user.badges.each.with_index(1) do |badge, i| %>
	<% if i%3 == 1 %>
		<div class="row">
	<% end %>
	<div class="col-sm-4">
		<%= image_tag("badges/#{badge.image}.jpeg", size: "50x50") %>
		<p><%= badge.name %></p>
	</div>
	<% if i%3 == 0 || badge.id == @user.badges.last.id %>
		</div>
	<% end %>
<% end %>
<p>Friends:</p>
<% @user.friends.each.with_index(1) do |friend, i| %>
	<% if i%4 == 1 %>
		<div class="row">
	<% end %>
	<div class="col-sm-3">
		<p><%= friend.username %></p>
		<p><%= "#{user.friends.count}" %></p>
		<p> website </p>
	</div>
	<% if i%4 == 0 || friend.id == @user.friends.last.id %>
		</div>
	<% end %>
<%end%>