<h4>Answers</h4>

<table class="table">
  <thead>
    <tr>
      <th>Answer</th>
      <th>Author</th>
      <th>Likes</th>
      <th>Accepted</th>
    </tr>
  </thead>

  <tbody>
    <% @question.answers.order(accepted: :desc).each do |answer| %>
      <tr>
        <td><%= answer.content %></td>
        <td>
          Submitted <%= time_tag(answer.created_at) %>
          by <%= link_to "#{answer.user.username}", user_path(answer.user) %><br />
        </td>
        <td>
         	<% if current_user != answer.user %>
        		<% if answer.has_users_like(current_user) %>
	        		<%= link_to "Unlike (#{answer.likes.count})", answer_like_path(answer), method: :delete %>
	        	<% else %>
	        		<%= link_to "Like (#{answer.likes.count})", answer_likes_path(answer), method: :post %>
	        	<% end %>
        	<% end %>
        </td>
        <td>
          <% if @question.accepted %>
            <% if answer.accepted %>
                This answer has been accepted by <%= link_to "#{@question.user.username}", user_path(@question.user) %>
            <% end %>
          <% else %>
          	<% if current_user == answer.question.user && current_user != answer.user %>
            	<%= link_to "Accept this answer", accept_answer_path(answer), method: :put %>
         	 <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>