<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <h4>Your answer</h4>
    </div>
  </div>
</div>
<%= form_for(answer, url: question_answers_path(@question), html: {method: "post", remote: true}) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 field">
        <%= f.text_area :content, required: true, class: "form-control", rows: "7" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 actions">
        <%= f.submit "Save", class: "btn btn-default"  %>
      </div>
    </div>
  </div>
  <br />
<% end %>
