<div class="row">
  <div class="col-md-12">
    <% @question.answers.order(accepted: :desc).each do |answer| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <div class="row">
              <div class="col-md-12 text-center">
                <% if current_user != answer.user %>
                  <% if answer.has_users_like(current_user) %>
                    <i class="fa fa-caret-up fa-3x answers-unactive-likes-buttons"></i>
                  <% else %>
                    <%= link_to like_answer_path(answer.id, :question_id => @question.id), method: :post, remote: :true do %>
                      <i class="fa fa-caret-up fa-3x"></i>
                    <%end%>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center answers-likes">
                <%= answer.likes.count %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <% if current_user != answer.user %>
                  <% if answer.has_users_like(current_user) %>
                    <%= link_to unlike_answer_path(answer.id, :question_id => @question.id), method: :delete, remote: :true do %>
                      <i class="fa fa-caret-down fa-3x"></i>
                    <%end%>
                  <% else %>
                    <i class="fa fa-caret-down fa-3x answers-unactive-likes-buttons"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
              <% if @question.accepted %>
                <% if answer.accepted %>
                  <i class="fa fa-check fa-2x answers-accepted-answer"></i>
                <% end %>
              <% else %>
                <% if current_user == answer.question.user && current_user != answer.user %>
                  <%= link_to accept_answer_path(answer), method: :put do %>
                    <i class="fa fa-check fa-2x"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-11">
          <%= answer.content %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 answers-footer">
          submitted <%= time_tag(answer.created_at) %> by <%= link_to "#{answer.user.username}", user_path(answer.user) %>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>
</div>