<h1>Search Results</h1>


<% if !@questions.present? && !@answers.present? && !@users.present?%>
	<p>No results</p>
<%else%>
	<% @questions.each do |question| %>
		<%=link_to question.title, question %> asked by <%=link_to question.user.username, user_path(question.user) %>
		<%= truncate(question.content) %>
	<%end%>
	<% @answers.each do |answer| %>
		<%= truncate(answer.content) %> by <%=link_to answer.user.username, user_path(answer.user) %>
	<%end%>
	<% @users.each do |user| %>
		<%=link_to user.username, user_path(user) %>
	<%end%>
<%end%>
