  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'ask a question', new_question_path %></li>
    <li><%= link_to 'see questions', questions_path %></li>

    <% if user_signed_in? %>
    <li>
        <div class="menu-item"
            <i class="fa fa-user fa-fw"></i>
            Logged in as <strong><%= current_user.username %></strong>
            <div class="btn-group open">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-expanded="false">
                    <li><%= link_to 'settings', edit_user_registration_path %></li>
                    <li><%= link_to 'change your password', edit_user_path %></li>
                    <li><%= link_to 'logout', destroy_user_session_path, :method => :delete %></li>
                </ul>
            </div>
        </div>
    </li>
    <% else %>
        <li><%= link_to 'sign in', new_user_session_path %></li>
    <% end %>
  </ul>